---
layout: page
title: Sonica Kulkarni
permalink: /

---
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  <script>
var element = document.documentElement,
  body = document.body,
  scrollTop = 'scrollTop',
  scrollHeight = 'scrollHeight',
  progress = document.querySelector('.progress-bar'),
  scroll;

document.addEventListener('scroll', function() {
  scroll = (element[scrollTop]||body[scrollTop]) / ((element[scrollHeight]||body[scrollHeight]) - element.clientHeight) * 100;
  progress.style.setProperty('--scroll', scroll + '%');
});
</script>
</head>
<!-- Slider Start -->
<div class="progress-bar"></div>

<section id="slider">
  <div class="container">
    <div class="row">
    <!--  <div class="col-sm-8"> -->
        <div class="col-sm-8">
          <h1 class="animated fadeInUp spaced p-h" style="font-weight: 500; font-size: 5vw; margin-top: 12vw;margin-bottom:1.8vw"> Sonica Kulkarni</h1>  
          <br>
          <h4 class="animated fadeInUp p-h" style="font-weight: 500; font-size: 2.3vw;">UX | Writer | Developer </h4>
        </div>
    <!--  </div> -->

           <!-- <div class="col-sm-4"> -->
        <div class="col-sm-4">
        	<img style="border-radius: 10%; margin-top: 5.5vw;  width: 28vw; height: 28vw;" src="..\img\Sonica.png"  alt="Img">

        </div>
     <!-- </div> .col-md-5 close -->
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="service">
  <div class="container">
    <div class="row">

        <div class="block">
          <div class="section-title">
            <h2>Projects</h2>
            
          </div>
          <div class="row ">

      <div class="col-sm-6 col-md-3">
        <a href="#">
          <div class="service-item-1">
            <h4>UDHR </h4>
            <p>Blockchain, NLP, HTML, PHP</p>
          </div>
        </a>
      </div>

            <div class="col-sm-6 col-md-3">
        <a href="#">
          <div class="service-item-1">
            <h4>SIGNAL MANIPULATION </h4>
            <p>Python, ML, IP, Oracle </p>
          </div>
        </a>
      </div>

            <div class="col-sm-6 col-md-3">
        <a href="#">
          <div class="service-item-1">
            <h4>DELTA GAMES</h4>
            <p>Baslamiq Wireframes</p>
          </div>
        </a>
      </div>

            <div class="col-sm-6 col-md-3">
        <a href="#">
          <div class="service-item-1">
            <h4>AQI DASHBOARD </h4>
            <p>ReactJS, ApexCharts, Axios, JavaScript </p>
          </div>
        </a>
      </div>
       

    </div>
    <a href="{{ site.baseurl }}/Projects" class="btn btn-view-works">View Projects</a>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>BLOGS</h2>
      <div class="post-area">
        
        <h3><a href="{{ site.baseurl }}/Why%20Is%20India%20Ready%20For%20EV/" class="bold">Why is India Ready For EV</a></h3>
           <p class="post-date">1 Jan 2020</p>
           <p>
Recently, the CEO of Tesla, Elon Musk, replied to a tweet concerning the expansion of Tesla in India with “Next year for sure”. This tweet has led many EV enthusiasts to speculate as to what exactly Tesla is planning to do and when it will make an official announcement. It is widely known that Tesla has had preliminary talks with the Karnataka Government back in September 2020 to set up an R&D facility there but there is no official word yet. While experts discuss if Tesla will indeed come to India, let us see why India is in fact ready for a powerhouse electric vehicle company like Tesla.
           </p>
      </div>
         <p> <a href="{{ site.baseurl }}/Blogs" class="btn btn-view-works">View Blogs</a> </p>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Skills</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon size="large" name="terminal-sharp"></ion-icon>
          <h4>C/C++</h4>
          <p></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon size="large" name="code-slash-sharp"></ion-icon>
          <h4>HTML/CSS</h4>
          <p></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon size="large" name="logo-javascript"></ion-icon>
          <h4>JavaScript</h4>
          <p></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon size="large" name="code-working-sharp"></ion-icon>
          <h4>PHP</h4>
        </div>
      </div>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon size="large" name="server-sharp"></ion-icon>
          <h4>SQL/MySQL</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
         <ion-icon size="large" name="logo-react"></ion-icon>
          <h4>React JS</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon size="large" name="document-outline"></ion-icon>
          <h4>Technical Writing</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
        <ion-icon size="large" name="logo-figma"></ion-icon>
          <h4>User Experience</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start <section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2></h2>
          <p></p>
          <a class="btn btn-default btn-call-to-action" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</section>
 Content Start -->
<!--<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> -->
